alabaster==0.7.10
appnope==0.1.0
Babel==2.5.3
Bottleneck==1.2.1
Cython==0.27.3
imageio==2.2.0
ipykernel==4.8.0
ipython
ipython-genutils
ipywidgets==7.1.1
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.31.5
jupyterlab-launcher==0.10.2
lazy-object-proxy==1.3.1
llvmlite==0.21.0
locket==0.2.0
lxml==4.1.1
MarkupSafe==1.0
matplotlib==2.1.2
mccabe==0.6.1
mistune==0.8.3
mpmath==1.0.0
msgpack-python==0.5.1
multipledispatch==0.4.9
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.2.5
nose==1.3.7
notebook==5.4.0
numba==0.36.2
numexpr==2.6.4
numpy==1.14.0
numpydoc==0.7.0
opencv-python==3.4.0.12
openpyxl==2.4.10
packaging==16.8
pandas==0.22.0
path.py==10.5
pathlib2==2.3.0
Pillow==5.0.0
ply==3.10
scikit-image==0.13.1
scikit-learn==0.19.1
six==1.11.0
toolz==0.9.0
torch==0.4.0
torchvision==0.2.1
tornado==4.5.3
